body{
  margin-top:20px !important;
  background:#f3f3f3 !important;
}

.card.user-card {
  border-top: none !important;
  -webkit-box-shadow: 0 0 1px 2px rgba(0,0,0,0.05), 0 -2px 1px -2px rgba(0,0,0,0.04), 0 0 0 -1px rgba(0,0,0,0.05) !important;
  box-shadow: 0 0 1px 2px rgba(0,0,0,0.05), 0 -2px 1px -2px rgba(0,0,0,0.04), 0 0 0 -1px rgba(0,0,0,0.05) !important;
  -webkit-transition: all 150ms linear !important;
  transition: all 150ms linear !important;
}

.card {
  border-radius: 5px !important;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16) !important;
  box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16) !important;
  border: none !important;
  margin-bottom: 30px !important;
  -webkit-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
}

.card .card-header {
  background-color: transparent !important;
  border-bottom: none !important;
  padding: 25px !important;
}

.card .card-header h5 {
  margin-bottom: 0 !important;
  color: #222 !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  display: inline-block !important;
  margin-right: 10px !important;
  line-height: 1.4 !important;
}

.card .card-header+.card-block, .card .card-header+.card-block-big {
  padding-top: 0 !important;
}

.user-card .card-block {
  text-align: center !important;
}

.card .card-block {
  padding: 25px !important;
}

.user-card .card-block .user-image {
  position: relative !important;
  margin: 0 auto !important;
  display: inline-block !important;
  padding: 5px !important;
  width: 110px !important;
  height: 110px !important;
}

.user-card .card-block .user-image img {
  z-index: 20 !important;
  position: absolute !important;
  top: 5px !important;
  left: 5px !important;
      width: 100px !important;
  height: 100px !important;
}

.img-radius {
  border-radius: 50% !important;
}

.f-w-600 {
  font-weight: 600 !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-t-25 {
  margin-top: 25px !important;
}

.m-t-15 {
  margin-top: 15px !important;
}

.card .card-block p {
  line-height: 1.4 !important;
}

.text-muted {
  color: #919aa3!important !important;
}

.user-card .card-block .activity-leval li.active {
  background-color: #2ed8b6 !important;
}

.user-card .card-block .activity-leval li {
  display: inline-block !important;
  width: 15% !important;
  height: 4px !important;
  margin: 0 3px !important;
  background-color: #ccc !important;
}

.user-card .card-block .counter-block {
  color: #fff !important;
}

.bg-c-blue {
  background: linear-gradient(45deg,#4099ff,#73b4ff) !important;
}

.bg-c-green {
  background: linear-gradient(45deg,#2ed8b6,#59e0c5) !important;
}

.bg-c-yellow {
  background: linear-gradient(45deg,#FFB64D,#ffcb80) !important;
}

.bg-c-pink {
  background: linear-gradient(45deg,#FF5370,#ff869a) !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.p-20 {
  padding: 20px !important;
}

.user-card .card-block .user-social-link i {
  font-size: 30px !important;
}

.text-facebook {
  color: #3B5997 !important;
}

.text-twitter {
  color: #42C0FB !important;
}

.text-dribbble {
  color: #EC4A89 !important;
}

.user-card .card-block .user-image:before {
  bottom: 0 !important;
  border-bottom-left-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
}

.user-card .card-block .user-image:after, .user-card .card-block .user-image:before {
  content: "" !important;
  width: 100% !important;
  height: 48% !important;
  border: 2px solid #4099ff !important;
  position: absolute !important;
  left: 0 !important;
  z-index: 10 !important;
}

.user-card .card-block .user-image:after {
  top: 0 !important;
  border-top-left-radius: 50px !important;
  border-top-right-radius: 50px !important;
}

.user-card .card-block .user-image:after, .user-card .card-block .user-image:before {
  content: "" !important;
  width: 100% !important;
  height: 48% !important;
  border: 2px solid #4099ff !important;
  position: absolute !important;
  left: 0 !important;
  z-index: 10 !important;
}
.container {
    padding-top: 15px !important;
}
.bg-c-green {
    background: linear-gradient(
45deg
,#2ed8b6,#59e0c5) !important;
}